@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
    padding: 0px;
    margin: 0px;
}

body {
    font-size: 14px;
    color: #333;
    font-family: 'Lato', sans-serif;
}

// html,
// body {
//     overflow-y: hidden;
// }
img {
    max-width: 100%;
}

@font-face {
    font-family: "MAZIUSREVIEW-Regular.otf";
    src: url(../fonts/MAZIUSREVIEW-Regular.otf);
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li,
ol {
    list-style: none;
}

h2,
h3 {
    font-family: "MAZIUSREVIEW-Regular.otf";
}

button:focus {
    outline: none !important;
}

#cursor {
    pointer-events: none;
    position: fixed;
    display: block;
    border-radius: 0px;
    transform-origin: center center;
    mix-blend-mode: difference;
    top: 0px;
    left: 0px;
    z-index: 1000;
    filter: url("#goo");
    span {
        position: absolute;
        display: block;
        width: 26px;
        height: 26px;
        border-radius: 20px;
        background-color: rgb(255, 255, 255);
        transform-origin: center center;
        transform: translate(-50%, -50%);
    }
}

header {
    .top-part {
        background: #FFECDD;
        padding: 10px 0;
        text-align: center;
        p {
            margin: 0;
            animation: 0;
            font-weight: 300;
            font-size: 16px;
            line-height: 20px;
            color: #1E1E1E;
        }
    }
    .menu-area {
        padding: 20px 0;
    }
    div#navigation {
        display: inline-block;
        ul {
            display: flex;
            justify-content: flex-end;
            li {
                a {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 24px;
                    color: #1E1E1E;
                    margin-left: 30px;
                }
            }
            li.current-menu-items {
                a {
                    font-weight: 600;
                }
            }
        }
    }
    ul.user-sec {
        display: flex;
        justify-content: flex-end;
        a {
            margin-left: 30px;
        }
    }
}

.src-pop {
    .modal-dialog {
        max-width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-self: center;
        height: 100%;
    }
    .modal-content {
        background: none;
        border: none;
    }
    form {
        position: relative;
    }
    input[type="text"] {
        border: none;
        border-bottom: 2px solid #fff;
        width: 100%;
        background: none;
        padding: 12px 0;
        color: #fff;
        font-size: 15px;
        font-weight: 300;
    }
    input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff;
        background-image: url(../images/src-icon.svg);
        border: none;
        width: 50px;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
    }
     ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #fff;
    }
     ::-moz-placeholder {
        /* Firefox 19+ */
        color: #fff;
    }
     :-ms-input-placeholder {
        /* IE 10+ */
        color: #fff;
    }
     :-moz-placeholder {
        /* Firefox 18- */
        color: #fff;
    }
}

section.banner-part {
    position: relative;
    .line {
        width: 2px;
        height: 70px;
        background: #fff;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 20px;
        margin: auto;
        z-index: 9;
        background: linear-gradient(#fff, #fff) left/0% 100% no-repeat;
        animation: anime 2s ease-in-out infinite;
    }
    @keyframes anime {
        0% {
            background-size: 100% 0%;
            background-position: top;
        }
        50% {
            background-size: 100% 70%;
        }
        100% {
            background-size: 100% 0%;
            background-position: bottom;
        }
    }
    .slider {
        .decp {
            position: absolute;
            left: 0;
            width: 100%;
            text-align: center;
            bottom: 122px;
        }
        h2 {
            font-weight: 400;
            font-size: 78px;
            line-height: 78px;
            color: #FFFFFF;
        }
        h5 {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #FFFFFF;
            margin: 0 0 30px;
        }
        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            max-width: 646px;
            margin: 0 auto;
        }
        .owl-dots {
            position: absolute;
            bottom: 15px;
            right: 30px;
            span {
                display: table;
                width: 20px;
                height: 2px;
                background: #fff;
                opacity: 0.7;
                margin-left: 2px;
            }
            button.owl-dot.active {
                span {
                    opacity: 1;
                }
            }
        }
    }
}

section.body-cont1 {
    padding: 65px 0;
    img.img1 {
        position: absolute;
        bottom: 0;
        right: 0;
    }
    .img-wrap {
        position: relative;
    }
    h2 {
        font-weight: 400;
        font-size: 66px;
        line-height: 78px;
        color: #1E1E1E;
    }
    h5 {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #585858;
        margin: 0 0 35px;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #1E1E1E;
        margin: 0 0 45px;
    }
    a {
        display: table;
        border: 1px solid #000000;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #1E1E1E;
        font-family: "MAZIUSREVIEW-Regular.otf";
        padding: 0px 57px;
    }
}

section.body-cont2 {
    h2 {
        font-weight: 400;
        font-size: 78px;
        line-height: 78px;
        text-align: center;
        color: #1E1E1E;
        margin: 0 0 25px;
    }
    h5 {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #1E1E1E;
        margin: 0 0 15px;
    }
    h6 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #838383;
        margin: 0 0 35px;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin: 20px 0 10px;
    }
    h4 {
        margin: 0 0 17px;
        span {
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            background: linear-gradient(137.54deg, #DFBD69 0%, #926F34 74.64%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
        del {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #CCCCCC;
            margin-right: 10px;
        }
    }
    ul {
        display: flex;
        li {
            i {
                background: linear-gradient(137.54deg, #DFBD69 0%, #926F34 74.64%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                font-size: 17px;
                margin-right: 12px;
            }
        }
    }
}

section.body-cont3 {
    padding: 75px 0;
    .wrap {
        background: linear-gradient(167.27deg, #FFFFFF 11.35%, #FFF2D8 237.36%);
        height: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 30px;
        h2 {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #1E1E1E;
            margin: 0;
        }
        h4 {
            font-weight: 400;
            font-size: 32px;
            line-height: 38px;
            background: linear-gradient(137.54deg, #DFBD69 0%, #926F34 74.64%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            margin: 20px 0;
        }
        p {
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            color: #333333;
            margin-bottom: 30px;
        }
        a {
            display: table;
            border: 1px solid #DFBD69;
            font-weight: 300;
            font-size: 16px;
            line-height: 50px;
            background: linear-gradient(137.54deg, #DFBD83 0%, #926F34 74.64%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
            display: table;
            margin: 0 auto;
            padding: 0 30px;
            border-radius: 50px;
        }
    }
    a.more-btn {
        position: relative;
        display: table;
        width: 100%;
        margin-top: 30px;
        h2 {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
            color: #FFFFFF;
            position: absolute;
            top: 15px;
            left: 20px;
        }
    }
    a.more-btn2 {
        position: relative;
        display: table;
        width: 97%;
        height: 100%;
        img {
            width: 100%;
            height: 100%;
        }
        h2 {
            position: absolute;
            bottom: 20px;
            left: 20px;
            font-weight: 400;
            font-size: 40px;
            line-height: 48px;
            text-align: center;
            color: #FFFFFF;
            writing-mode: vertical-rl;
            text-orientation: upright;
        }
    }
}

section.body-cont4 {
    h2 {
        font-weight: 400;
        font-size: 78px;
        line-height: 78px;
        text-align: center;
        color: #1E1E1E;
        margin: 0 0 70px;
    }
    img {
        display: table;
        margin: 0 auto;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 28px;
        color: #1E1E1E;
    }
    h4 {
        font-weight: 700;
        font-size: 32px;
        line-height: 38px;
        color: #181D20;
        margin: 0 0 30px;
    }
    label {
        display: table;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        text-transform: capitalize;
        color: #2E2E2E;
        margin: 0 0 6px;
    }
    input:not([type="submit"]),
    textarea {
        background: #F9F9F9;
        border: 1px solid #DAD8D8;
        width: 100%;
        padding: 10px;
        margin: 0 0 30px;
    }
    textarea {
        height: 156px;
    }
    input[type="submit"] {
        border: none;
        background: #333333;
        padding: 12px 68px;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        text-align: center;
        text-transform: capitalize;
        color: #FFFFFF;
    }
}

footer {
    margin: 65px 0 0;
    .sec1 {
        background: #F7F6F6;
        border-radius: 30px;
        padding: 55px 0 40px;
    }
    h2 {
        font-weight: 400;
        font-size: 20px;
        line-height: 18px;
        text-transform: uppercase;
        color: #000000;
        margin: 0 0 24px;
    }
    ul.menu {
        li {
            a {
                display: table;
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                color: #333333;
                margin: 0 0 8px;
            }
        }
    }
    form {
        position: relative;
        margin-bottom: 20px;
        input:not([type="submit"]) {
            width: 100%;
            background: none;
            border: 1px solid #333;
            padding: 12px 16px;
        }
        input[type="submit"] {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            background: #333;
            color: #fff;
            border: none;
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            letter-spacing: 0.3px;
            text-transform: uppercase;
            color: #FFFFFF;
            padding: 0 38px;
        }
    }
    p {
        font-weight: 400;
        font-size: 12px;
        line-height: 17px;
        text-transform: uppercase;
        color: #333333;
        max-width: 303px;
        margin: 0;
    }
    h6 {
        font-weight: 400;
        font-size: 13px;
        line-height: 20px;
        color: #333333;
        text-align: center;
        margin: 20px 0;
    }
}

section.inner-ban1 {
    position: relative;
    >img {
        width: 100%;
    }
    .decp {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
}

section.ab-page1 {
    padding: 65px 0;
    h2 {
        font-weight: 400;
        font-size: 78px;
        line-height: 78px;
        color: #1E1E1E;
        margin: 0 0 23px;
    }
    h5 {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #585858;
        margin: 0 0 25px;
    }
    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
        color: #1E1E1E;
        max-width: 1090px;
        margin: 0 auto;
    }
    .icons-cara {
        margin: 35px 0;
        .item {
            display: flex;
            animation: lc;
            justify-content: center;
            padding: 0 30px;
        }
    }
}

section.ab-page2 {
    h5 {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #838383;
        margin: 0;
    }
    h2 {
        font-weight: 400;
        font-size: 45px;
        line-height: 45px;
        color: #1E1E1E;
        margin: 20px 0;
    }
    p {
        font-weight: 400;
        font-size: 18px;
        line-height: 28px;
        color: #1E1E1E;
        margin: 0 0 30px;
    }
    a {
        display: table;
        border: 1px solid #000000;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #1E1E1E;
        padding: 0 52px;
        margin: 60px 0 0;
        font-family: "MAZIUSREVIEW-Regular.otf";
    }
}

section.inner-ban2 {
    position: relative;
    img {
        width: 100%;
    }
    .decp {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    h2 {
        font-weight: 400;
        font-size: 78px;
        line-height: 78px;
        color: #1E1E1E;
        span {
            display: table;
            font-size: 48px;
        }
    }
    h4 {
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        color: #1E1E1E;
        margin: 0 0 30px;
    }
    h5 {
        font-style: italic;
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #333333;
        margin: 0 0 15px;
    }
    p {
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        color: #838383;
        max-width: 482px;
        a {
            font-weight: 400;
            font-size: 14px;
            line-height: 22px;
            color: #333333;
        }
    }
    a.shop-btn {
        display: table;
        border: 1px solid #000000;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #1E1E1E;
        padding: 0 52px;
        margin: 30px 0 0;
        font-family: "MAZIUSREVIEW-Regular.otf";
    }
}

section.sale-page1 {
    padding: 65px 0;
    h2 {
        font-weight: 400;
        font-size: 45px;
        line-height: 45px;
        text-align: center;
        color: #1E1E1E;
        margin: 0 0 35px;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin: 20px 0 10px;
    }
    h4 {
        margin: 0 0 17px;
        del {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #CCCCCC;
            margin-right: 10px;
        }
        span {
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            background: linear-gradient(137.54deg, #DFBD69 0%, #926F34 74.64%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
    ul {
        display: flex;
        li {
            i {
                background: linear-gradient(137.54deg, #DFBD69 0%, #926F34 74.64%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                font-size: 17px;
                margin-right: 12px;
            }
        }
    }
    a.view-all-btn {
        display: table;
        border: 1px solid #000000;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #1E1E1E;
        padding: 0 52px;
        margin: 60px auto 0;
        font-family: "MAZIUSREVIEW-Regular.otf";
    }
}

section.sale-page2 {
    h2 {
        font-weight: 400;
        font-size: 45px;
        line-height: 45px;
        color: #1E1E1E;
        margin: 0 0 50px;
    }
    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #000000;
        margin: 20px 0 10px;
        a {
            color: #000;
        }
    }
    h4 {
        margin: 0 0 17px;
        del {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            color: #CCCCCC;
            margin-right: 10px;
        }
        span {
            font-weight: 400;
            font-size: 20px;
            line-height: 25px;
            background: linear-gradient(137.54deg, #DFBD69 0%, #926F34 74.64%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            text-fill-color: transparent;
        }
    }
    ul {
        display: flex;
        margin-bottom: 45px;
        li {
            i {
                background: linear-gradient(137.54deg, #DFBD69 0%, #926F34 74.64%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
                font-size: 17px;
                margin-right: 12px;
            }
        }
    }
    a.view-all-btn {
        display: table;
        border: 1px solid #000000;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #1E1E1E;
        padding: 0 52px;
        margin: 20px auto 0;
        font-family: "MAZIUSREVIEW-Regular.otf";
    }
}

section.inner-ban3 {
    position: relative;
    text-align: center;
    background: #e9e9e9;
    .decp {
        position: absolute;
        left: 0;
        width: 100%;
        top: 0;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &:before {
            content: "";
            background: linear-gradient(180deg, rgba(25, 25, 25, 0) 19.71%, rgba(51, 51, 51, 0.91) 100%);
            opacity: 0.4;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    h2 {
        font-weight: 400;
        font-size: 78px;
        line-height: 78px;
        color: #FFFFFF;
        margin: 160px 0 15px;
        position: relative;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
        margin: 0;
        position: relative;
        max-width: 865px;
    }
}

section.sale-page2.new-in-page1 {
    padding: 65px 0;
    .side-bar {
        .src-sec {
            position: relative;
            input[type="text"] {
                width: 100%;
                background: #EAE5E0;
                border: none;
                padding: 14px;
            }
            input[type="submit"] {
                position: absolute;
                top: 0;
                right: 0;
                height: 100%;
                width: 50px;
                background: none;
                border: none;
                background-image: url(../images/src-icon.svg);
                background-repeat: no-repeat;
                background-position: center;
            }
        }
        .sec1 {
            border-bottom: 1px solid #333;
            margin: 30px 0 0;
            a.open-item {
                display: flex;
                align-items: center;
                justify-content: space-between;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #231F20;
                margin: 0 0 12px;
            }
            a.more-items {
                font-weight: 400;
                font-size: 16px;
                line-height: 19px;
                color: #AEABA3;
                padding: 6px 25px;
                display: none;
            }
            ul {
                flex-direction: column;
                margin: 0;
                max-height: 0;
                transition: max-height 0.15s ease-out;
                overflow: hidden;
                li {
                    label {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #808080;
                        margin: 0 0 10px;
                        input[type="checkbox"] {
                            margin-right: 10px;
                        }
                        input[type='checkbox']:after {
                            line-height: 1.5em;
                            content: '';
                            display: inline-block;
                            width: 18px;
                            height: 18px;
                            margin-top: -4px;
                            border: 1px solid #EAE5E0;
                            background: #fff;
                        }
                        input[type='checkbox']:checked:after {
                            background: #111;
                        }
                    }
                }
            }
        }
        .sec1.intro {
            ul {
                max-height: 200px;
                transition: max-height 0.25s ease-in;
            }
            a.more-items {
                display: table;
            }
        }
        .sec1.intro.all-items {
            ul {
                max-height: 500px;
                transition: max-height 0.25s ease-in;
            }
        }
    }
}

section.new-in-page2 {
    position: relative;
    img {
        width: 100%;
    }
    .decp {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
    }
    h2 {
        font-weight: 400;
        font-size: 78px;
        line-height: 78px;
        color: #1E1E1E;
        margin: 0 0 20px;
    }
    p {
        font-weight: 500;
        font-size: 24px;
        line-height: 35px;
        color: #1E1E1E;
    }
    a {
        display: table;
        border: 1px solid #000000;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        color: #1E1E1E;
        padding: 0 52px;
        margin: 60px 0 0;
        font-family: "MAZIUSREVIEW-Regular.otf";
    }
}

.product-detail-page1 {
    padding: 50px 0 65px;
    h2 {
        font-weight: 400;
        font-size: 28px;
        line-height: 34px;
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: #1E1E1E;
        margin: 0 0 15px;
    }
    h4 {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        display: flex;
        align-items: center;
        color: #000000;
        margin: 0 0 20px;
        border-bottom: 1px solid #ddd;
        padding: 5px 0 15px;
    }
    h6 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #808080;
        margin: 0 0 16px;
    }
    ul.size {
        display: flex;
        li {
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            display: flex;
            align-items: center;
            color: #000000;
            margin-right: 22px;
            input[type="radio"] {
                margin-right: 10px;
            }
        }
    }
    h5 {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        align-items: center;
        color: #808080;
        margin: 20px 0;
        border-bottom: 1px solid #ddd;
        padding: 0 0 15px;
        span {
            color: #000;
        }
    }
    a.cart-btn {
        display: table;
        font-weight: 400;
        font-size: 20px;
        line-height: 40px;
        text-transform: capitalize;
        color: #FFFFFF;
        background: #000;
        font-family: "MAZIUSREVIEW-Regular.otf";
        padding: 3px 45px;
        margin: 35px 0 0;
    }
    .thumb-sec {
        ul {
            li {
                margin-bottom: 20px;
            }
        }
    }
    .accordion {
        margin: 30px 0 0;
    }
    .accordion-toggle {
        cursor: pointer;
        margin: 0;
        padding: 10px 0;
        position: relative;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        text-decoration-line: underline;
        text-transform: uppercase;
        color: #1E1E1E;
        border: none;
        font-family: "MAZIUSREVIEW-Regular.otf";
    }
    .accordion-toggle.active:after {
        content: "";
        position: absolute;
        right: 0;
        top: 17px;
        width: 0;
        height: 0;
        border-bottom: 5px solid #000;
        border-left: 5px solid rgba(0, 0, 0, 0);
        border-right: 5px solid rgba(0, 0, 0, 0);
    }
    .accordion-toggle:before {
        content: "";
        position: absolute;
        right: 0;
        top: 17px;
        width: 0;
        height: 0;
        border-top: 5px solid #000;
        border-left: 5px solid rgba(0, 0, 0, 0);
        border-right: 5px solid rgba(0, 0, 0, 0);
    }
    .accordion-toggle.active:before {
        display: none;
    }
    .accordion-content {
        display: none;
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-transform: capitalize;
            color: #808080;
        }
    }
}