@import url("https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

body {
  font-size: 14px;
  color: #333;
  font-family: "Roboto", sans-serif;
}

img {
  max-width: 100%;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}

li,
ol {
  list-style: none;
}

h2,
h3,
h4 {
  font-family: "Jost", sans-serif;
}

button:focus {
  outline: none !important;
}

header {
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9;
  padding: 12px 0;
}
header div#navigation ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 50px;
}
header div#navigation ul a {
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  margin-left: 20px;
  font-family: "Jost", sans-serif;
}
header ul.user-sec {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header ul.user-sec li select {
  background: none;
  border: none;
  color: #fff;
  font-size: 20px;
  font-family: "Jost", sans-serif;
}
header ul.user-sec li select option {
  color: #333;
}
header ul.user-sec li a {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  margin-left: 20px;
  font-family: "Jost", sans-serif;
}
header ul.user-sec li:last-child a {
  background: #BD965C;
  border-radius: 30px;
  line-height: 45px;
  padding: 0 32px;
  display: table;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  width: 100%;
  max-width: 148px;
  text-align: center;
}

section.banner-part {
  position: relative;
}
section.banner-part img {
  width: 100%;
}
section.banner-part .decp {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 74px;
}
section.banner-part h2 {
  font-weight: 300;
  font-size: 40px;
  line-height: 58px;
  text-align: center;
  color: #FFFFFF;
  margin: 0 0 15px;
}
section.banner-part p {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  max-width: 636px;
  margin: 0 auto 78px;
}
section.banner-part form {
  position: relative;
  background: #fff;
  border-radius: 50px;
  overflow: hidden;
  padding: 10px 46px;
}
section.banner-part form label {
  font-weight: 500;
  font-size: 12px;
  line-height: 17px;
  color: #A4A4A4;
  margin: 0 0 5px;
  text-align: left;
  display: block;
}
section.banner-part form input:not([type=submit]),
section.banner-part form select {
  width: 100%;
  border: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #121212;
  padding: 0;
}
section.banner-part form select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(../images/down-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}
section.banner-part form input[type=submit] {
  position: absolute;
  top: 0;
  right: 0;
  background: #BD965C;
  border-radius: 0px 30px 30px 0px;
  border: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  max-width: 148px;
  width: 100%;
  height: 100%;
}
section.banner-part form input.date-picker {
  background: url(../images/calendar.svg);
  background-repeat: no-repeat;
  background-position: right 15px center;
}

section.body-cont1 {
  background: #002455;
  padding: 60px 0;
}
section.body-cont1 h2 {
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #FFFFFF;
  position: relative;
  display: table;
  margin: 0 auto 60px;
}
section.body-cont1 h2:after {
  content: "";
  width: 80%;
  height: 2px;
  background: #fff;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  bottom: -10px;
}
section.body-cont1 .trending-cara .item .img-wrap {
  padding: 52px 112px 52px 0;
  position: relative;
}
section.body-cont1 .trending-cara .item .img-wrap:before {
  content: "";
  content: "";
  width: 80%;
  height: 100%;
  background: #C2D0E4;
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  right: 0;
}
section.body-cont1 .trending-cara .item h3 {
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0 0 28px;
}
section.body-cont1 .trending-cara .item p {
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #FFFFFF;
  margin: 0 0 10px;
}
section.body-cont1 .trending-cara .item h5 {
  font-weight: 400;
  font-size: 20px;
  line-height: 29px;
  color: #FFFFFF;
  margin: 0 0 16px;
  font-family: "Jost", sans-serif;
}
section.body-cont1 .trending-cara .item .sp-offer {
  background: rgba(255, 255, 255, 0.1);
  border: 1px dashed #FFFFFF;
  border-radius: 4px;
  max-width: 431px;
  float: right;
  clear: both;
  text-align: left;
  padding: 20px;
  width: 100%;
  margin-bottom: 26px;
}
section.body-cont1 .trending-cara .item .sp-offer h6 {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  text-transform: uppercase;
  color: #000000;
  background: #fff;
  padding: 6px 8px;
  display: table;
  border-radius: 50px;
  font-family: "Jost", sans-serif;
  margin: 0 0 12px;
}
section.body-cont1 .trending-cara .item .sp-offer ul {
  padding-left: 15px;
}
section.body-cont1 .trending-cara .item .sp-offer ul li {
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  list-style-type: disc;
  margin: 0 0 8px;
  font-family: "Jost", sans-serif;
}
section.body-cont1 .trending-cara .item h4 {
  clear: both;
  font-weight: 700;
  font-size: 40px;
  line-height: 36px;
  text-align: right;
  color: #FFFFFF;
  margin: 0 0 28px;
  font-family: "Jost", sans-serif;
}
section.body-cont1 .trending-cara .item h4 span {
  font-size: 16px;
}
section.body-cont1 .trending-cara .item a.book-btn {
  background: #0047AB;
  border-radius: 100px;
  display: inline-block;
  line-height: 46px;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  max-width: 158px;
  width: 100%;
  text-align: center;
}
section.body-cont1 .trending-cara .owl-dots {
  margin: 40px 0 0;
  display: flex;
  counter-reset: my-awesome-counter;
}
section.body-cont1 .trending-cara .owl-dots button.owl-dot {
  counter-increment: my-awesome-counter;
  width: 41px;
  height: 41px;
  border: 1px solid #fff;
  border-radius: 50%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  position: relative;
  transition: all 0.3s ease-in-out;
}
section.body-cont1 .trending-cara .owl-dots button.owl-dot::before {
  content: "";
  width: 42px;
  height: 1px;
  background: #fff;
  position: absolute;
  right: -30px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transition-delay: 0.1s;
}
section.body-cont1 .trending-cara .owl-dots button.owl-dot::after {
  content: "0" counter(my-awesome-counter);
  color: #fff;
  right: -44px;
  position: absolute;
  font-weight: 600;
  font-size: 12px;
  color: #FFFFFF;
  font-family: "Jost", sans-serif;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  transition-delay: 0.1s;
}
section.body-cont1 .trending-cara .owl-dots button.owl-dot span {
  display: table;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #fff;
}
section.body-cont1 .trending-cara .owl-dots button.owl-dot.active {
  margin-right: 68px;
}
section.body-cont1 .trending-cara .owl-dots button.owl-dot.active::before, section.body-cont1 .trending-cara .owl-dots button.owl-dot.active::after {
  opacity: 1;
}
section.body-cont1 a.Browse-btn {
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  color: #FFFFFF;
  float: right;
  margin-top: -40px;
  z-index: 999;
  position: relative;
  font-family: "Jost", sans-serif;
}

section.body-cont2 {
  padding: 80px 0 20px;
}
section.body-cont2 h2 {
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #343D4D;
  display: table;
  margin: 0 auto 28px;
  position: relative;
}
section.body-cont2 h2:after {
  content: "";
  width: 53px;
  height: 2px;
  background: #BD965C;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  bottom: -3px;
}
section.body-cont2 h6 {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #343D4D;
  max-width: 642px;
  margin: 0 auto 60px;
}
section.body-cont2 a.img-sec {
  display: table;
  width: 100%;
  position: relative;
  overflow: hidden;
}
section.body-cont2 a.img-sec img {
  transform: scale(1);
  transition: all 0.5s ease-in-out;
}
section.body-cont2 a.img-sec:after {
  content: "";
  background: linear-gradient(180deg, rgba(11, 19, 33, 0) 61.71%, rgba(11, 19, 33, 0.88) 100%);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
section.body-cont2 a.img-sec:hover img {
  transform: scale(1.2);
}
section.body-cont2 h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  text-transform: capitalize;
  color: #000000;
  text-align: center;
  margin: 18px 0 12px;
}
section.body-cont2 p {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #343D4D;
  margin: 0 0 20px;
  min-height: 100px;
}
section.body-cont2 a.Explore-btn {
  background: #0047AB;
  border-radius: 100px;
  margin: 0 auto 60px;
  display: table;
  font-weight: 400;
  font-size: 20px;
  line-height: 46px;
  text-align: center;
  color: #FFFFFF;
  padding: 0 35px;
  font-family: "Jost", sans-serif;
}

section.body-cont3 {
  padding: 100px 0;
  background-attachment: fixed !important;
  background-size: cover !important;
}
section.body-cont3 h2 {
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0 0 28px;
}
section.body-cont3 p {
  font-weight: 300;
  font-size: 20px;
  line-height: 26px;
  text-align: right;
  color: #FFFFFF;
  margin: 0 0 40px;
}
section.body-cont3 a {
  border: 1px solid #FFFFFF;
  border-radius: 30px;
  display: inline-block;
  line-height: 46px;
  max-width: 146px;
  width: 100%;
  text-align: center;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  font-family: "Jost", sans-serif;
}

section.body-cont4 {
  padding: 80px 0;
}
section.body-cont4 h2 {
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #BD965C;
  display: table;
  margin: 0 auto 60px;
  position: relative;
}
section.body-cont4 h2:after {
  content: "";
  width: 80%;
  height: 2px;
  background: #BD965C;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  margin: auto;
}
section.body-cont4 h3 {
  font-weight: 600;
  font-size: 32px;
  line-height: 46px;
  color: #000000;
  margin: 0;
}

section.body-cont5 {
  padding: 80px 0;
  text-align: center;
}
section.body-cont5 h2 {
  font-weight: 300;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #BD965C;
  display: table;
  margin: 0 auto 28px;
  position: relative;
}
section.body-cont5 h2:after {
  content: "";
  width: 80%;
  height: 2px;
  background: #BD965C;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  margin: auto;
}
section.body-cont5 p {
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #343D4D;
  margin: 0 0 60px;
}
section.body-cont5 form {
  max-width: 530px;
  margin: 0 auto;
}
section.body-cont5 form input:not([type=submit]) {
  border: 1px solid #CCCCCC;
  border-radius: 30px;
  width: 100%;
  padding: 15px 16px;
  margin: 0 0 20px;
}
section.body-cont5 input[type=submit] {
  background: #BD965C;
  border-radius: 30px;
  border: none;
  max-width: 155px;
  width: 100%;
  line-height: 46px;
  font-weight: 400;
  font-size: 20px;
  color: #FFFFFF;
  margin: 15px 0 0;
}

footer {
  background: #002455;
  padding: 60px 0 34px;
}
footer ul.ft-menu li {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  display: table;
  margin: 0 0 11px;
}
footer ul.ft-menu li a {
  color: #FFFFFF;
  display: table;
}
footer ul.icons {
  margin: 32px 0 0;
  display: flex;
  align-items: center;
}
footer ul.icons li {
  margin-right: 20px;
}
footer ul.icons li a {
  background: #FFFFFF;
  width: 50px;
  height: 50px;
  display: table;
  text-align: center;
  line-height: 50px;
  color: #000;
  border-radius: 50%;
  font-size: 20px;
}
footer p {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  max-width: 306px;
}
footer ul.trem {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0;
}
footer ul.trem li {
  margin: 0 20px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #FFFFFF;
  display: table;
}
footer ul.trem li a {
  color: #FFFFFF;
  display: table;
}
footer h6 {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  margin: 0;
}/*# sourceMappingURL=style.css.map */